@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @* this is just a test change *@

    <h1 class="display-4" >Assignment Website</h1>

    <p onmouseover="animateSize()" onmouseout="defaultSize()" id="headerText">Let's enjoy my favorite song together!</p>

    <iframe width="893" id="myVid" height="502" src="https://www.youtube.com/embed/E07s5ZYygMg" title="Harry Styles - Watermelon Sugar (Official Video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>
